  
        <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
          <div aling="center" *ngIf="productosSer.cargando">
            <h2>Cargando...</h2>
            <!-- 1 -->
              <div class="loader loader--style1" title="0">
                  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                    C22.32,8.481,24.301,9.057,26.013,10.047z">
                    <animateTransform attributeType="xml"
                      attributeName="transform"
                      type="rotate"
                      from="0 20 20"
                      to="360 20 20"
                      dur="0.5s"
                      repeatCount="indefinite"/>
                    </path>
                  </svg>
              </div>
          </div>        
          
                                       
            
                    
          <div *ngIf="!productosSer.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
               <a *ngFor="let producto of productosSer.productos"
               routerLinkActive="active" routerLink="/item" class="rk-item ae-masonry__item">
                <!--
                  <img src="..\..\..\assets\data\FOTOS PRODUCTOS\FOTOS HOMBRE\{{producto.nombre}}"  alt="">
                -->
                <img *ngIf="producto.nombre.split(' ').length == 4" src="https://firebasestorage.googleapis.com/v0/b/angular-webappportafolio.appspot.com/o/productos%2Fhombre%2FArt%20{{producto.nombre.split(' ')[1]}}%20-%20{{producto.nombre.split(' ')[3]}}?alt=media&token=e8ddea86-7ec1-4160-8a38-7a50ded22dc3" alt="">
                <img *ngIf="producto.nombre.split(' ').length == 6" src="https://firebasestorage.googleapis.com/v0/b/angular-webappportafolio.appspot.com/o/productos%2Fhombre%2FArt%20{{producto.nombre.split(' ')[1]}}%20-%20{{producto.nombre.split(' ')[3]}}%20-%20{{producto.nombre.split(' ')[5]}}?alt=media&token=4fbd9742-9bb5-401e-8409-7c9d9931d08e" alt="">
                <!-- https://firebasestorage.googleapis.com/v0/b/angular-webappportafolio.appspot.com/o/productos%2Fhombre%2FArt%20{{producto.nombre.split(' ')[1]}}%20-%20{{producto.nombre.split(' ')[3]}}%20-%20{{producto.nombre.split(' ')[5]}}?alt=media&token=4fbd9742-9bb5-401e-8409-7c9d9931d08e-->

                 <div class="item-meta">
                 <h2>Art {{producto.nombre.split(' ')[1]}}</h2>
                 <p>{{producto.nombre.split(' ')[3]}}</p>
                </div>
                </a>            
              </div>
        </section>
  
